In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
from sklearn.preprocessing import StandardScaler
import scipy.stats as st

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# tested lib
from user import User
from experiment import *
from hasher_implems import *

# Chi Squared Test

We consider experiments with 2 variations of 50% each.

## Hypothesis

* Experiment A has _r = 2_ levels (variation 1 and variation 2)
* Experiment B has _c = 2_ levels (variation 1 and variation 2)

The null hypothesis states that knowing the variation in experiment A does not help you predict the variation in experiment B.

Ho: Variable A and Variable B are independent.

Ha: Variable A and Variable B are not independent.

## Degrees of Freedom

`DF = (r - 1) * (c - 1) = 1`

## Expected Frequencies

The expected frequency counts are computed separately for each level of one categorical variable at each level of the other categorical variable. Compute r * c expected frequencies, according to the following formula.
`Er,c = (nr * nc) / n`

where Er,c is the expected frequency count for level r of Variable A and level c of Variable B, nr is the total number of sample observations at level r of Variable A, nc is the total number of sample observations at level c of Variable B, and n is the total sample size.

For example, for a sample of 100 users, in a perfect case, we would have:

`Er,c = (50*50) / 100 = 25`

## Test Statistic

The test statistic is a chi-square random variable (Χ2) defined by the following equation.
`Χ2 = Σ [ (Or,c - Er,c)2 / Er,c ]`

where Or,c is the observed frequency count at level r of Variable A and level c of Variable B, and Er,c is the expected frequency count at level r of Variable A and level c of Variable B.


## P-value

The P-value is the probability of observing a sample statistic as extreme as the test statistic.

## Conclude

* If observed chi-square < critical chi-square, then variables are not related.
* If observed chi-square > critical chi-square, then variables are not independent (and hence may be related).

For DF=1 and a precision of 5% (α=0.05), the critical chi-square is 3.841.

In [2]:
# Tool methods for chi squared test

def expected(matrix, i, j):
    return (matrix_bi[i][2])*(matrix_bi[2][j])/matrix_bi[2][2]

def step(matrix, i, j):
    exp = expected(matrix, i, j)
    case = matrix[i][j]
    print(f"step {i},{j}: case={case}, exp={exp}")
    return (case-exp) * (case-exp)/exp

def statistic_test(matrix):
    result = 0
    for i in range(0, 2):
        for j in range(0, 2):
            result += step(matrix, i, j)
    return result

population = 10000000

In [3]:
# Generation of data

def gen_data(hasher: Hasher, population):
    
    header = ["/", "ExpA:Var1", "ExpA:Var2", "Sum"]
    data = []
    
    expA = Experiment(hasher)
    expB = Experiment(hasher)
    
    varA1B1 = 0
    varA1B2 = 0
    varA2B1 = 0
    varA2B2 = 0
    
    for i in range(1, population+1):
        user = User(i)
        varA = expA.assign(user)
        varB = expB.assign(user)
        
        if varA.name == "variation1":
            if varB.name == "variation1":
                varA1B1 += 1
            else:
                varA1B2 += 1
        else:
            if varB.name == "variation1":
                varA2B1 += 1
            else:
                varA2B2 += 1
        
    df = pd.DataFrame(np.array([["ExpB:Var1", varA1B1,           varA2B1,       varA1B1+varA2B1],
                                ["ExpB:Var2", varA1B2,           varA2B2,       varA1B2+varA2B2],
                                ["Sum",       varA1B1+varA1B2, varA2B1+varA2B2, varA1B1+varA2B1+varA1B2+varA2B2]]),
                      columns=header)
    
    df = pd.concat([df["/"],
                    pd.to_numeric(df["ExpA:Var1"]),
                    pd.to_numeric(df["ExpA:Var2"]),
                    pd.to_numeric(df["Sum"])],
                    axis = 1)
    
    matrix = [[varA1B1,         varA2B1,         varA1B1+varA2B1],
              [varA1B2,         varA2B2,         varA1B2+varA2B2],
              [varA1B1+varA1B2, varA2B1+varA2B2, varA1B1+varA2B1+varA1B2+varA2B2]]
    return df, matrix

## Built-In Hash Method

### Data Generation

In [4]:
# Built-In Hash

df_bi, matrix_bi = gen_data(BuiltInHasher(), population)

df_bi

           /  ExpA:Var1  ExpA:Var2       Sum
0  ExpB:Var1    2499532    2500388   4999920
1  ExpB:Var2    2501092    2498988   5000080
2        Sum    5000624    4999376  10000000

### Test Statistic

In [5]:
statistic_test(matrix_bi)

step 0,0: case=2499532, exp=2500271.995008
step 0,1: case=2500388, exp=2499648.004992
step 1,0: case=2501092, exp=2500352.004992
step 1,1: case=2498988, exp=2499727.995008

0.8761481928546181

## MD5

### Data Generation

In [6]:
df_md5, matrix_md5 = gen_data(Md5Hasher(), population)

df_md5

           /  ExpA:Var1  ExpA:Var2       Sum
0  ExpB:Var1    2501719    2499497   5001216
1  ExpB:Var2    2497919    2500865   4998784
2        Sum    4999638    5000362  10000000

### Chi Squared Test

In [7]:
statistic_test(matrix_md5)

step 0,0: case=2501719, exp=2500271.995008
step 0,1: case=2499497, exp=2499648.004992
step 1,0: case=2497919, exp=2500352.004992
step 1,1: case=2500865, exp=2499727.995008

3.7312009359272253

## Sha256

### Data Generation

In [8]:
df_sha, matrix_sha = gen_data(Sha256Hasher(), population)

df_sha

           /  ExpA:Var1  ExpA:Var2       Sum
0  ExpB:Var1    2500187    2499676   4999863
1  ExpB:Var2    2500183    2499954   5000137
2        Sum    5000370    4999630  10000000

### Chi Squared Test

In [9]:
statistic_test(matrix_sha)

step 0,0: case=2500187, exp=2500271.995008
step 0,1: case=2499676, exp=2499648.004992
step 1,0: case=2500183, exp=2500352.004992
step 1,1: case=2499954, exp=2499727.995008

0.03505987078617739